$sizes: (0: 0, 1: .5rem, 2: 1.5rem);

$font-weigth: ("Regular": 400, "Bold": 700);
$font-size: ("Regular": 14px, "Bold": 24px);
$font-line: ("Regular": 20px, "Bold": 30px);

$blueberry: #D4DEFE;
$asphalt: #8189A3;
$plumbum: #262C40;